* {
  margin: 0;
  padding: 0;
}

body {
  font-family: '微软雅黑';
  background: #eee;
}

/*------------------------Header------------------------*/

.header {
  background: #2189bf;
  height: 56px;
  position: relative;
}

.header .logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 60px;
}

.header .search-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 120px;
  height: 30px;
  width: 250px;
  border-radius: 15px 15px;
  border: none;
  background: url(icon/zoom.png) no-repeat;
  background-color: #fff;
  background-position: 15px;
  padding-left: 40px;
}

.header .search-box:focus {
  outline: none;
}

.header .login {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
  background: url(icon/login.png) no-repeat;
  padding-left: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

/*------------------------Container------------------------*/

.container {
  width: 1280px;
}

/*------------------------nav-head------------------------*/

.nav {
  float: left;
  width: 260px;
  background: #2a2e3d;
  height: 1200px;
}

.head-div {
  position: relative;
  height: 100px;
}

.head-pic {
  position: absolute;
  left: 45px;
  top: 50%;
  transform: translateY(-50%);
  width: 55px;
  height: 55px;
  border: 1px solid #b9babd;
  border-radius: 50%;
  text-align: center;
  line-height: 52px;
}

.head-pic .circle {
  width: 47px;
  height: 47px;
  background-color: #b9babd;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.head-div .username {
  color: #fff;
  position: absolute;
  left: 120px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 57px;
  font-size: 14px;
}

/*------------------------nav-focus------------------------*/

.focus-div {
  text-align: center;
  list-style: none;
  color: #67778b; 
}

.focus-div li {
  font-size: 14px;
  width: 80px;
  display: inline-block;
  text-align: center;
}

.focus-div .collect {
  border-right: 2px solid #313545;
}


/*------------------------content------------------------*/


.nav .list a {
  text-decoration: none;
  color: #6e8096;
  font-size: 12px;
  min-height: 100%;
}

.nav .list .open {
  color: #fff;
}

.nav .list {
  margin-top: 20px;
  list-style: none;
}

.nav .list li {
  padding-left: 50px;
  min-height: 48px;
  line-height: 48px;
}

.nav .list li:hover {
  background-color: #383d4e;
}

.nav .list-open {
  background-color: #383d4e;
}

.list li span {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 10px;
}

.list .file_open { background: url(icon/file_open.png) no-repeat center; }
.list .star { background: url(icon/star.png) no-repeat center; }
.list .share { background: url(icon/share.png) no-repeat center; }
.list .user_info { background: url(icon/user_info.png) no-repeat center; }
.list .file_close { background: url(icon/file_close.png) no-repeat center; }
.list .doc_open { background: url(icon/doc_open.png) no-repeat center; }
.list .doc_close { background: url(icon/doc_close.png) no-repeat center; }
.list .open_arrow { background: url(icon/open_arrow.png) no-repeat center; }
.list .close_arrow { background: url(icon/close_arrow.png) no-repeat center; }

.list .second-file {
  list-style: none;
  display: block;
  min-height: 32px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.list .second-file li {
  padding-left: 0;
  min-height: 32px;
  line-height: 32px;
}

.list .second-file span {
  margin-right: 4px;
}

.list .second-file .third-file {
  list-style: none;
  padding-left: 20px;
}


/*------------------------Main------------------------*/
.main {
  float: left;
  width: 1020px;
  height: 1200px;
}

/*------------------------Content------------------------*/

.content {
  float: left;
  display: inline-block;
  height: 30px;
  background: #fff;
  color: #aaa;
  font-size: 14px;
  width: 100%;
}

.content a {
  color: #aaa;
  line-height: 30px;
  text-decoration: none;
  margin: 0 5px;
}

.content a:first-child {
  margin-left: 20px;
}

.content .current {
  color: #6898c2;
}