* {
  margin: 0;
  padding: 0;
}

body {
  font-family: '微软雅黑';
  background: #eee;
}

/*------------------------Header------------------------*/

.header {
  background: #2189bf;
  height: 56px;
  position: relative;
}

.header .logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 60px;
}

.header .search-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 120px;
  height: 30px;
  width: 250px;
  border-radius: 15px 15px;
  border: none;
  background: url(icon/zoom.png) no-repeat;
  background-color: #fff;
  background-position: 15px;
  padding-left: 40px;
}

.header .search-box:focus {
  outline: none;
}

.header .login {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
  background: url(icon/login.png) no-repeat;
  padding-left: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

/*------------------------Container------------------------*/

.container {
  width: 1200px;
}

/*------------------------nav-head------------------------*/

.nav {
  float: left;
  width: 260px;
  background: #2a2e3d;
  height: 1200px;
}

.head-div {
  position: relative;
  height: 100px;
}

.head-pic {
  position: absolute;
  left: 45px;
  top: 50%;
  transform: translateY(-50%);
  width: 55px;
  height: 55px;
  border: 1px solid #b9babd;
  border-radius: 50%;
  text-align: center;
  line-height: 52px;
}

.head-pic .circle {
  width: 47px;
  height: 47px;
  background-color: #b9babd;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.head-div .username {
  color: #fff;
  position: absolute;
  left: 120px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 57px;
  font-size: 14px;
}

/*------------------------nav-focus------------------------*/

.focus-div ul {
  text-align: center;
  list-style: none;
  color: #67778b;
}

.focus-div li {
  font-size: 14px;
  width: 80px;
  display: inline-block;
  text-align: center;
}

.focus-div .collect {
  border-right: 2px solid #313545;
}


/*------------------------content------------------------*/
.content {
  float: left;
  width: 900px;
  height: 1200px;
}